@font-face {
  font-family: "Verdana";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Verdana Regular'), local('Verdana-Regular'),
  url("../fonts/Verdana.woff2") format("woff2"),
  url("../fonts/Verdana.woff") format("woff"),
  url("../fonts/Verdana.ttf") format("ttf");
}

@font-face {
  font-family: "Verdana";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Verdana Bold'), local('Verdana-Bold'),
  url("../fonts/Verdana-Bold.woff2") format("woff2"),
  url("../fonts/Verdana-Bold.woff2") format("woff"),
  url("../fonts/Verdana-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Geometria";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Geometria Regular'), local('Geometria-Regular'),
  url("../fonts/Geometria.woff2") format("woff2"),
  url("../fonts/Geometria.woff2") format("woff"),
  url("../fonts/Geometria.ttf") format("ttf");
}

@font-face {
  font-family: "Geometria";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url("../fonts/Geometria-Medium.woff2") format("woff2"),
  url("../fonts/Geometria-Medium.woff2") format("woff"),
  url("../fonts/Geometria-Medium.ttf") format("ttf");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  /*css - переменные*/
  --white: #ffffff;
  --white-opacity: 255, 255, 255;
  --black: #000000;
  --black-opacity: 0, 0, 0;
  --main: #1d2a3c;
  --main-opacity: 29,42,60;
  --red: #c24244;
  --red-opacity: 194,66,68;
  --gray: #f2f3f5;
  --gray-opacity: 242, 242, 242;
}
/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  background-color: var(--gray);
  min-width: 1270px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.main-container {
  margin-top: -180px;
  position: relative;
  padding: 180px 0 0 0;
  background:  rgba(var(--main-opacity), 0.7) url("../img/main-background.png") no-repeat;
  background-size: cover;
  background-position: center -130px;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 1270px;
  padding: 0 15px;
}

.container--padding {
  padding: 90px 15px 80px 15px;
}

.container--padding-sm {
  padding: 50px 15px 80px 15px;
}

.page-title {
  padding: 45px 15px 35px 15px;
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  color: var(--white);
}

.button {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 1.68px;
  width: 340px;
  height: 50px;
  background-color: var(--red);
  color: var(--white);
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 0 auto;
  border: none;
}

.subtitle {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 4px;
  color: var(--red);
  margin: 0 0 60px 0;
  text-transform: uppercase;
}

.white-background {
  background-color: var(--white);
}

.gray-background {
  background-color: var(--gray);
}

.tabs__top .subtitle,
.top .subtitle {
  margin: 0;
}

.subtitle--light {
  color: var(--white);
}

.tabs__top,
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px 0;
}

.tabs__navigation {
  list-style: none;
  display: flex;
}

.tabs__item:not(:last-child) {
  margin: 0 25px 0 0;
}

.tabs__link {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 42px;
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.tabs__item--active .tabs__link {
  color: var(--red);
  border: 2px solid var(--red);
}

.tabs--gray .tabs__item {
  flex-grow: 1;
}

.tabs--gray .tabs__link {
  height: 60px;
  text-align: center;
  justify-content: center;
  color: var(--white);
}

.tabs--gray .tabs__item:not(:last-child) {
  margin: 0;
}

.tabs--gray .tabs__item--active .tabs__link {
  border: none;
  background-color: var(--gray);
  color: var(--red);
}

.header {
  position: relative;
  height: 180px;
  width: 100%;
  background-color: rgba(var(--main-opacity), 0.9);
  z-index: 1;
}

.header__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__top {
  display: flex;
  align-items: center;
}

.login {
  flex-shrink: 0;
}

.subnavigation,
.navigation__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.subnavigation-wrapper {
  flex-grow: 1;
}

.subnavigation {
  font-size: 13px;
}

.subnavigation__link {
  display: block;
  padding: 8px 15px;
  color: rgb(var(--white-opacity), 0.5);
}

.subnavigation__item:last-child {
  margin: 0 0 0 auto;
}

.subnavigation__item--button .subnavigation__link {
  background-color: var(--red);
  color: var(--white);
}

.subnavigation__item--button {
  margin: 0 15px 0 0;
}

.login {
  margin: 0 0 0 25px;
  color: rgb(var(--white-opacity), 0.5);
  display: flex;
  align-items: center;
}

.login__icon {
  margin: 0 15px 0 0;
}

.navigation__item {
  position: relative;
}

.navigation__item:not(:last-child) {
  margin: 0 12px 0 0;
}

.navigation__icon {
  position: absolute;
  right: -15px;
  top: 50%;
  margin-top: -7px;
}

.navigation__link {
  font-family: "Verdana", "Arial", sans-serif;
  display: block;
  color: var(--white);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 45px;
}

.navigation__item--active .navigation__link {
  color: var(--red);
}

.navigation__item:first-child .navigation__link {
  padding: 5px 45px 5px 0;
}

.navigation__item:last-child .navigation__link {
  padding: 5px 0 5px 45px;
}

.navigation__item:nth-last-child(2) {
  margin: 0 0 0 auto;
}

.navigation__item:last-child .navigation__link {
  margin: 0 0 0 auto;
}

.logo {
  display: block;
}

.header__logo {
  position: absolute;
  top: 50%;
  margin-top: -72px;
  left: 50%;
  margin-left: -72px;
}

.header__logo:before,
.header__logo:after {
  content: '';
  position: absolute;
  display: block;
  width: 530px;
  height: 1px;
  background-color: rgba(var(--white-opacity), 0.5);
  top: 50%;
}

.header__logo:before {
  left: 162px;
}

.header__logo:after {
  right: 162px;
}

.footer {
  margin: auto 0 0 0;
  background-color: var(--main);
  padding: 42px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__navigation {
  display: flex;
}

.footer__navigation-list {
  list-style: none;
  margin: 0 110px 0 0;
}

.footer__navigation-link {
  font-size: 13px;
  line-height: 16px;
  display: block;
  padding: 8px;
  color: rgba(var(--white-opacity), 0.5);
}

.footer__aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__login {
  margin: 0 0 24px 0;
}

.promo {
  padding: 66px 0 110px 0;
}

.promo__title {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  margin: 0 0 60px 0;
  text-align: center;
  font-size: 50px;
  line-height: 55px;
  color: var(--white);
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  height: 568px;
}

.promo-calendar {
  width: 505px;
  height: 100%;
  position: relative;
}

.promo-calendar__list {
  display: flex;
  height: 568px;
}

.promo-calendar__item {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  flex-shrink: 0;
  width: 505px;
  height: 100%;
  background-color: var(--white);
  border-bottom: 8px solid var(--red);
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.promo-calendar__arrow {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.promo-calendar__arrow--left {
  left: 0;
}

.promo-calendar__arrow--right {
  right: 0;
}

.promo-calendar__arrow--right .promo-calendar__icon {
  transform: scale(-1, 1);
}

.promo-calendar__icon {
  fill: rgba(var(--black-opacity), 0.1);
  transition: 0.2s;
}

.promo-calendar__arrow:hover .promo-calendar__icon {
  fill: var(--red);
  transition: 0.2s;
}

.promo-calendar__icon-top {
  position: absolute;
  top: 0;
}

.promo-calendar__title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  z-index: 2;
  height: 110px;
  padding: 10px 50px;
  text-align: center;
}

.promo-calendar__subtitle {
  font-size: 13px;
  color: var(--white);
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.promo-calendar__subtitle:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: var(--main);
  top: 0;
  left: 50%;
  margin-left: -40px;
}

.promo-calendar__main {
  display: flex;
  margin: 60px auto 20px auto;
  position: relative;
}

.promo-calendar__main:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 190px;
  transform: skewX(-20deg);
  background-color: rgba(var(--black-opacity), 0.1);
  top: 50%;
  margin-top: -105px;
  left: 50%;
}

.promo-calendar__date {
  font-size: 12px;
  margin: 0 0 10px 0;
}

.promo-calendar__middle {
  color: var(--main);
  background-color: var(--white);
  height: 90px;
  width: 140px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin: 30px 0 0 0;
}

.promo-calendar__middle-main {
  font-size: 36px;
  line-height: 40px;
}

.promo-calendar__team {
  width: 165px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-calendar__team-name {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 0 0;
}

.promo-calendar__place {
  margin: auto 0 0 0;
  font-size: 13px;
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--main);
}

.promo-calendar__place:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: var(--main);
  top: 0;
  left: 50%;
  margin-left: -40px;
}

.news-slider {
  width: 718px;
  height: 568px;
  background-color: var(--white);
  overflow: hidden;
}

.news-slider__list {
  list-style: none;
}

.news-slider__link {
  display: flex;
}

.news-slider__picture {
  flex-shrink: 0;
  position: relative;
}

.news-slider__img {
  display: block;
  filter: brightness(90%);
}

.news-slider__date {
  position: absolute;
  top: 0;
  right: 20px;
  color: var(--white);
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
}

.news-slider__date-text {
  position: absolute;
  top: 0;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.news-slider__number {
  font-size: 17px;
  line-height: 18px;
}

.news-slider__month {
  position: relative;
  padding: 0 0 10px 0;
  width: 100%;
  text-align: center;
}

.news-slider__month:after {
  content: '';
  position: absolute;
  bottom: 3px;
  width: 24px;
  left: 50%;
  margin-left: -12px;
  height: 1px;
  background-color: var(--main);
}

.news-slider__year {
  text-align: center;
  line-height: 15px;
}

.news-slider__content {
  margin: 0 40px;
  padding: 30px 0;
  position: relative;
}

.news-slider__content:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main);
}

.news-slider__title {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.news-slider__description {
  font-size: 12px;
  line-height: 18px;
}

/* Баннер */

.banner {
  padding: 50px 15px 0 15px;
}

.banner__img {
  display: block;
}

/* Социальные сети */

.socials {
  background:  url("../img/backgrounds/back-2.jpg");
  background-size: cover;
}

.socials__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.socials__item {
  width: 400px;
  height: 508px;
  background-color: var(--white);
}

/* Партнёры */

.partners__list {
  list-style: none;
  display: flex;
}

.partners__item {
  display: flex !important;
  justify-content: center;
}

.partners__img {
  display: block;
}

/* Календарь игр на главной */

.calendar {
  border-top: 1px solid rgba(var(--main-opacity), 0.45);
}

.calendar__item,
.calendar__main,
.calendar__team {
  display: flex;
}

.calendar__item {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  height: 160px;
  align-items: center;
  border-bottom: 1px solid rgba(var(--main-opacity), 0.45);
}

.calendar__main {
  position: relative;
  width: 730px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.calendar__main:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 120px;
  background-color: rgba(var(--main-opacity), 0.6);
  top: 50%;
  margin-top: -60px;
  right: 0;
}

.calendar__main:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 160px;
  transform: skewX(-20deg);
  background-color: rgba(var(--black-opacity), 0.1);
  top: 50%;
  margin-top: -80px;
  left: 50%;
}

.calendar__team {
  align-items: center;
  flex-shrink: 0;
  width: calc((100% - 160px)/2);
}

.calendar__img {
  display: block;
  margin: 0 15px;
}

.calendar__team--left .calendar__img {
  order: 2;
}

.calendar__team-name {
  padding: 0 15px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.calendar__team--left .calendar__team-name {
  text-align: right;
}

.calendar__score {
  height: 70px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--white);
}

.calendar__date {
  font-size: 12px;
  line-height: 26px;
}

.calendar__score-main {
  font-size: 25px;
  line-height: 26px;
}

.calendar__sidebar {
  padding: 0 12px 0 52px;
}

.calendar__tournament,
.calendar__group,
.calendar__place {
  display: block;
}

.calendar__tournament {
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.calendar__place {
  position: relative;
  font-size: 15px;
  line-height: 25px;
  padding: 24px 0 0 0;
}

.calendar__group {
  font-size: 11px;
  letter-spacing: 1.32px;
  text-transform: uppercase;
  color: var(--red);
}

.calendar__place:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: var(--main);
}

/* Таблицы */

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
}

/* Расписание тренировок */

.schedule__head {
  background-color: var(--main);
  height: 48px;
}

.schedule__head .schedule__cell {
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
  padding: 0 25px;
  text-align: left;
  width: calc(100%/8);
}

.schedule__content {
  position: relative;
  padding: 38px 0;
  border-bottom: 1px solid rgba(var(--main-opacity), 0.45);
}

.schedule__content:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--main-opacity), 0.45);
  bottom: 37px;
}

.schedule__content__list {
  border-top: 1px solid rgba(var(--main-opacity), 0.45);
  border-bottom: 1px solid rgba(var(--main-opacity), 0.45);
}

.schedule__row {
  height: 90px;
  border-bottom: 1px solid rgba(var(--main-opacity), 0.45);
}

.schedule__row .schedule__cell {
  padding: 5px 25px;
  width: calc(100%/8);
}

.schedule__row .schedule__cell:not(:last-child) {
  border-right: 1px solid rgba(var(--black-opacity), 0.1);
}

.schedule__first {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.schedule__title {
  font-weight: 700;
  margin: 0 0 12px 0;
}

.schedule__arrow {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.schedule__arrow--up {
  top: 0;
}

.schedule__arrow--down {
  bottom: 0;
}

.schedule__arrow--down .schedule__icon {
  transform: rotate(180deg);
}

.schedule__icon {
  fill: var(--red);
}

/* Фильтры */

.filters {
  display: flex;
  list-style: none;
}

.filters__item {
  flex-shrink: 0;
}

.filters__item--short,
.filter--short {
  width: 146px;
}

.filters__item--medium,
.filter--medium {
  width: 326px;
}

.dropdown {
  height: 42px;
  border: 2px solid var(--main);
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
}

.filters__item:not(:last-child) .dropdown {
  border-right: 0;
}

.dropdown__title {
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  height: 100%;
}

.dropdown__title:after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid var(--red);
  right: 20px;
  top: 50%;
  margin-top: -4px;
}

/* Статистика на главной */

.stats-block {
  padding: 90px 0 80px 0;
}

.stats-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 37px auto;
}

.stats-form__group-radio {
  display: flex;
  align-items: center;
}

.stats-form__radio {
  display: none;
}

.stats-form__label {
  display: flex;
  align-items: center;
  height: 42px;
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: 0 20px;
  margin: 0 25px 0 0;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}

.stats-form__radio:checked + .stats-form__label {
  border: 2px solid var(--red);
  color: var(--red);
  transition: 0.2s;
}

.stats-slider {
  width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.stats-slider__list {
  list-style: none;
  display: flex;
}

.stats-slider__item {
  margin: 0 10px;
  width: 296px;
}

.stats-slider__img {
  display: block;
}

.stats-slider__content {
  background-color: var(--main);
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
}

.stats-slider__title {
  color: var(--white);
  font-size: 18px;
  line-height: 24px;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.stats-slider__bottom {
  display: flex;
  border-top: 1px solid rgba(var(--white-opacity), 0.1);
}

.stats-slider__block {
  width: 50%;
  flex-shrink: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stats-slider__block:first-child {
  border-right: 1px solid rgba(var(--white-opacity), 0.1);
}

.stats-slider__unit {
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 0.72px;
  color: rgba(var(--white-opacity), 0.4);
  text-transform: uppercase;
  margin: 0 5px 0 0;
}

.stats-slider__value {
  font-size: 24px;
  color: var(--red);
}

.stats-slider__arrow {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.stats-slider__arrow--left {
  left: -50px;
}

.stats-slider__arrow--right {
  right: -50px;
}

.stats-slider__arrow--right .stats-slider__icon {
  transform: scale(-1, 1);
}

.stats-slider__icon {
  fill: var(--main);
}

/* Медиа на главной */

.index-media {
  background:  url("../img/backgrounds/back-1.jpg");
  background-size: cover;
}

/* Анкета для поступления */

.start-form__tabs {
  padding: 50px 0 0 0;
}

.start-form__wrapper {
  padding: 70px 0 140px 0;
  background-color: var(--gray);
}

.form__block {
  padding: 70px 80px 1px 80px;
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.form__block .subtitle {
  margin: 0 0 40px 0;
}

.form__section {
  margin: 0 0 70px 0;
}

.form__heading {
  font-size: 28px;
  line-height: 35px;
  color: var(--red);
  margin: 0 0 54px 0;
  font-weight: 500;
}

.form__docs {
  display: flex;
  justify-content: space-between;
}

.form__docs-wrapper {
  max-width: 490px;
  min-height: 85px;
}

.form__docs-wrapper:first-child {
  max-width: 440px;
}

.form__docs-unit {
  display: flex;
}

.form__docs-text {
  margin: 0 30px 0 0;
}

.form__upload-input {
  display: none;
}

.form__upload-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 52px;
  background-color: var(--main);
  font-size: 12px;
  letter-spacing: 1.7px;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}

.form__help {
  font-size: 12px;
  padding: 5px 0;
  color: var(--red);
}

.form__container {
  display: flex;
  flex-wrap: wrap;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__group {
  min-width: 335px;
  margin: 0 35px 5px 0;
  min-height: 122px;
}

.form__group:nth-of-type(3n) {
  margin: 0 0 5px 0;
}

.form__group--full {
  width: 100%;
  margin: 0 0 5px 0;
}

.form__text {
  display: block;
  margin: 0 0 14px 0;
}

.form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(var(--black-opacity), 0.2);
  outline: none;
  padding: 0 20px;
}

.form__doc-wrapper {
  width: 100%;
}

.form__doc {
  display: flex;
  justify-content: space-between;
}

.form__doc-text {
  width: 565px;
}

.form__doc .form__upload-text {
  width: 340px;
}

.form__info {
  margin: 0 0 44px 0;
}

/* Внутреннее меню */

.inner-menu {
  background-color: rgba(var(--main-opacity), 0.45);
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
}

.inner-menu__list {
  list-style: none;
  display: flex;
}

.inner-menu__item {
  flex-grow: 1;
}

.inner-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: var(--white);
  font-size: 12px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  padding: 0 20px;
  transition: 0.2s;
}

.inner-menu__item--active .inner-menu__link {
  color: var(--red);
  background-color: var(--white);
  transition: 0.2s;
}

/* Шапка турнира, команды */

.head__wrapper {
  display: flex;
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  color: var(--white);
  padding: 40px 15px;
}

.head__picture {
  flex-shrink: 0;
  background-color: var(--white);
  margin: 0 100px 0 0;
}

.head__picture,
.head__img {
  display: block;
  border-radius: 50%;
}

.head__title {
  max-width: 90%;
  display: block;
  margin: 0 0 36px 0;
  font-size: 40px;
  line-height: 45px;
  color: var(--white);
}

.head__dates {
  font-size: 18px;
  padding: 30px 0 0 0;
  position: relative;
}

.head__dates:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 4px;
  background-color: var(--red);
}

/* Партнёры */

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  margin: 0 20px 20px 0;
  border: 1px solid rgba(var(--black-opacity), 0.2);
  width: calc((100% - 60px)/4);
}

.list__item:nth-child(4n) {
  margin: 0 0 20px 0;
}

.list__link {
  display: flex;
  flex-direction: column;
  padding: 26px 26px 30px 26px;
}

.list__title {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 30px 0 0 0;
  margin: 26px 0 0 0;
  border-top: 3px solid var(--red);
}

/* Контакты */

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding: 60px 15px;
}

.contacts__list {
  list-style: none;
}

.contacts__subtitle {
  margin: 0 0 30px 0;
}

.contacts__list {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__mail {
  text-decoration: underline;
}

.contacts__icon {
  display: flex;
  align-items: center;
  width: 40px;
}

/* Руководство */

.composition {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.composition__item {
  margin: 0 20px 20px 0;
  width: calc((100% - 60px)/4);
}

.composition__item:nth-child(4n) {
  margin: 0 0 20px 0;
}

.composition__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.composition__img {
  display: block;
}

.composition__content {
  background-color: var(--red);
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  min-height: 173px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.composition__title {
  color: var(--white);
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 20px 20px 14px 20px;
}

.composition__position {
  color: rgba(var(--white-opacity), 0.5);
  padding: 0 20px 14px 20px;
}

.composition__bottom {
  display: flex;
  border-top: 1px solid rgba(var(--white-opacity), 0.1);
  flex-shrink: 0;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto 0 0 0;
}

.composition__unit {
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 0.72px;
  color: rgba(var(--white-opacity), 0.4);
  text-transform: uppercase;
  margin: 0 5px 0 0;
}

.composition__value {
  font-size: 14px;
  color: var(--white);
}

/* Документы */

.documents__list {
  list-style: none;
  border-top: 1px solid rgba(var(--black-opacity), 0.2);
}

.documents__link {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid rgba(var(--black-opacity), 0.2);
}

.documents__icon {
  flex-shrink: 0;
}

.documents__content {
  padding: 0 220px 0 40px;
}

.documents__date {
  font-size: 10px;
  line-height: 18px;
  color: var(--red);
  margin: 0 0 10px 0;
}

.documents__title {
  font-family: "Geometria", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}













